
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
  
  h1,
  h2,
  h3,
  p,
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  button {
    display: inline-block;
    border: 0;
    color: inherit;
    cursor: pointer;
  }
  
  input {
    outline: 0;
    color: inherit;
    font-family: inherit;
  }
